.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle.properties
/bin

manifest/src

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/api/out
/manifest/out

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
